
.card {
  flex: 1 0 20%;
  background: rgb(14, 13, 13);
  margin: 5px;
  color: whitesmoke;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  min-width: 260px;
}